/.vscode
/.idea
/node_modules
.DS_Store
*.db
*.bak
*.tmp
*.cmd
~*

npm-debug.log

/api/dist
/api/node_modules

/api-doc/node_modules

/pc/node_modules
/pc/.idea
/pc/npm-debug.log
/pc/dist
/pc/src/common/node_modules
/pc/src/common/output
/pc/src/demo/output

/mobile/node_modules
/mobile/dist
/mobile/src/common/node_modules
/mobile/src/common/output
/mobile/src/demo/output

/we-sdk/node_modules
/we-sdk/dist

we-status/node_modules/

/mobile/npm-debug*
/api/npm-debug*
/pc/npm-debug*
